<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redaguoti Užduotį</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <form action="" method="POST">
        Pavadinimas: <input type="text" name="title" value="{{ task.title }}" required><br>
        Apibūdinimas: <input type="text" name="description" value="{{ task.description }}" required><br>
        Statusas: <select name="status">
            <option value="Atlikta" {% if task.status == 'Atlikta' %} selected {% endif %}>Atlikta</option>
            <option value="Neatlikta" {% if task.status == 'Neatlikta' %} selected {% endif %}>Neatlikta</option>
            <option value="Nukelta" {% if task.status == 'Nukelta' %} selected {% endif %}>Nukelta</option>
        </select><br>
        <button type="submit">Išsaugoti pakeitimus</button>
    </form>
    <a href="/tasks">Atgal į užduočių sąrašą</a>
</body>
</html>
